:root {
    /* declares content section width proportions */
    --margin-percent: 20%;
    --center-percent: 60%;

    --page-background-color:white;
    --heading-border-color: #FD5E53;
}  

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--page-background-color);
}

header {
    border-bottom: 5px solid #152852;
}

footer {
    border-top: 5px solid #4B3D60;
}

header h1 {
    font-size: 36px;
}

nav {
    width: var(--center-percent);
    display: flex;
    justify-content: flex-end;
}

p {
    padding: 10px;
    text-align: justify;
} 

li {
    width: 25%;
    text-align: center;
}

/* images fill to fit project card containers */
img {
    width: 100%;
    height: 100%
}

/* handles common header/footer styling */
.header-footer-style {
    display: flex;
    align-items: center;
    color: white;
    background-color:#2d3436;
}

/* handles styling of list items */
.nav-ul-style {
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: space-around;
    padding: 5px 10px;
}

/* handles styling of main section headings */
.main-heading-style {
    width:var(--margin-percent);
    text-align: right;
    font-size: 28px;
    padding: 10px 10px 10px 0px;
    border-right:5px double var(--heading-border-color);
}

/* contains left headings and main content */
.main-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

/* contains project cards and paragraphs */
.content-box {
    display: flex;
    flex-wrap: wrap;
    width: var(--center-percent);
    padding-left: 5px;
}

/* holds images and title cards */
.project-card {
    width: 50%;
    padding: 5px;
    border: 5px solid var(--page-background-color);
    background-image: linear-gradient(to right, #08183A, #152852, #4B3D60, #FD5E53, #FC9C54, #FFE373);
    /* background-image: url(https://placekitten.com/800/400?image=11); */

}

/* displays project titles and languages */
.title-card {
    display: inline-block;
    position: relative;
    width: 50%;
    bottom: 60px;
    padding:5px;
    color:white;
    background-image: linear-gradient(to right, #08183A, #152852, #4B3D60,#FD5E53);
}

/* governs project name on title card */
.title-card-heading {
    font-size: 18px;
    padding-bottom: 5px;
}

/* governs project language on title cards */
.title-card-lang {
    font-size: 14px;
}

/* header/footer text common styling */
.link-color {
    color: white;
    text-decoration: underline;
}

/* styles my name */
#my-name {
    font-size: 36px;
}

/* displays background image and positions the subtitle */
#sub-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 200px;
    background-image: url(./images/sunset.jpg);
    background-position: center;
}

#subtitle {
    padding: 10px 10px 10px 0px;
    color: white;
    background-color: #2d3436;
    width: 100%;
    font-size: 18px;
    text-align: right;
    border-top: 5px solid #0a3d62;
}

/* top project card covers the width of its container */
#featured {
    width: 100%;
}

/* ********************************************************* */
/* ********************************************************* */

.project-card-test {
    width: 50%;
    padding: 5px;
    /* margin: 5px; */
    border: inset;
    border: 5px solid chartreuse;
    background-image: url(https://placekitten.com/800/400?image=11);
    min-height: 200px;
    background-size: cover;
}

/* displays project titles and languages */
.title-card-test {
    display: inline-block;
    position: relative;
    width: 50%;
    bottom: 60px;
    padding:5px;
    color:white;
    background-image: linear-gradient(to right, #08183A, #152852, #4B3D60,#FD5E53);
}